// sass functions
@function black($opacity)
  @return rgba(black, $opacity)

@function white($opacity)
  @return rgba(white, $opacity)

// mixins
// @include box-emboss(0.8, 0.05)
@mixin box-emboss($opacity, $opacity2)
  box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0

@mixin letterpress($opacity)
  text-shadow: white($opacity) 0 1px 0

@mixin hide-text
  font: 0/0 a
  text-shadow: none
  color: transparent
// Source: Sacha Greif - http://sachagreif.com/useful-sass-mixins/

@mixin button
  padding: 0.6rem 1.2rem
  border: 0 // reset input submit element
  border-radius: 2px
  text-align: center
  cursor: pointer
  line-height: 1

@mixin primary-button
  @include button
  color: #ddd
  background: rgba($primary, 0.8)
  &:hover
    background: rgba($primary, 0.95)
    color: #f9f9f9

@mixin secondary-button
  @include button
  padding: 0.4rem 0.8rem
  background: black(0.1)
  color: #494949
  &:hover
    background: black(0.2)
    color: #393939

// Make a box pop out
@mixin pop-out
  @include box-shadow(0 1px 5px black(0.25))

// Make a box pop in
@mixin pop-in
  @include box-shadow(inset 0 1px 5px black(0.25))

// Make a button pop-out usually, and pop in when clicked
@mixin pop-button
  @include pop-out
  &:active
    @include pop-in

@mixin muted
  color: #7f7f7f
